#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #f0f1f7;
    padding: 15px 0px 15px 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 150px;
}

#navbar div {
    display: flex;
    align-items: center;
}

#head {
    font-size: 1.3vw;
    padding: 9px 0px;
    text-align: center;
    background-color: #202340;
    color: white;
}

#head a {
    color: white;
}

#up {
    margin-bottom: -7%;
    gap: 11vw;

}

#up,
#down {
    display: flex;

}


#down {
    margin-top: 90px;
    /* border: 1px solid red; */
    gap: 6.5vw;
}

#motives {
    /* border: 1px solid red; */
}

#motives img {
    width: 50px;
    height: 100px;
    /* border: 1px solid red; */
}

#ppp {
    height: 50px;
    width: 50px;
}

#navbar img {
    width: 15vw;
}

#in {
    display: flex;
    align-items: center;
}

#inputdiv {
    background-color: white;
    border: 1px solid black;
    padding-left: 1vw;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 45vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
}

#inputdiv input {
    width: 100%;
    height: 2.5vw;
    font-size: 1.3vw;
    border: none;
    outline: none;
    box-sizing: border-box;
}

#i i {
    font-size: 1.7vw;
}

#i {
    background-color: #202340;
    color: white;
    width: 4vw;
    height: 3.63vw;
    border: 1px solid;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#menu {
    color: #202340;
    display: flex;
    justify-content: center;
    align-items: center;
}

#anchor {
    display: flex;
    gap: 2vw;
}

#anchor a {
    color: #454760;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}



#login {
    display: flex;
    gap: 5vw;

}

#login a {
    font-size: 2vw;
}

#login i {
    color: #202340;
}

#menu span {
    color: #202340;
}

#menu span:hover,
#login i:hover,
#anchor a:hover {
    color: #00a8ca;
}

/* ----------for menu button, start-------- */

.sidenav {
    z-index: 3;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f1f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1vw;
}

#slidenav1 {
    /* border: 1px solid; */
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw 0;

}

#slidenav1 img {
    width: 4.5vw;
    height: 4.5vw;
}

.sidenav a {
    /* border: 1px solid; */
    padding: 0.5vw 0.5vw 0.5vw 3vw;
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
    transition: 0.3s;
}

.sidenav h3 {
    margin: 2vw 2vw;
}

.sidenav i {
    margin-right: 1.8vw;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2vw;
    font-size: 3vw;
    margin-left: 5vw;
}





/* --------navbar end----------- */

/* -----------footer start----------- */
.connect {
    background-color: #545871;
    color: white;
    margin-top: 100px;
}

#connect1,
#conn,
#connect2,
#ac,
#images,
#social,
#connect2>div:nth-child(1) {
    display: flex;

}

#connect1 {
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font: 13px;
}

#conn {
    gap: 40px;
    align-items: center;
}

#connect2 {
    justify-content: space-between;
}

#ac {
    gap: 10px;
    align-items: center;
}

#ac a,
#a {
    color: white;
}

#info {
    font-size: 13px;
    line-height: 12px;
    padding: 7px 0 2px 10px;
    color: #202340;
    background-color: #f0f1f7;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.ancor>a {
    color: black;
}

#images {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    background-color: #f0f1f7;
}

#images img {
    height: 80px;
    width: 80px;
}

#image {
    margin: auto;
    width: 10%;
}

#image>div>a>img {
    height: 100px;
    width: 120px;
}

#social {
    align-items: center;
}

#social i {
    width: 45px;
    color: white;
    height: 45px;
    justify-content: center;
    align-items: center;
}

#connect2>div:nth-child(1) {
    justify-content: space-between;
}

#footer {
    background-color: #f0f1f7;
}

*/

/* ----------------  footer end------------ */
#main {
    display: flex;
    width: 30%;
    gap: 5px;
}

#sidebar {
    border: 1px solid;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
    margin-left: 310px;
    margin-top: 100px;

}

#container>div {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    /* padding:15px; */
    /* height: 580px; */
    line-height: 19px;
    width: 370px;

}

#div1 {
    display: flex;
    gap: 25px;
    /* margin-top: -20px; */

}

#strick {
    text-decoration: line-through;
}

#p4 {
    margin-top: -10px;
    margin-left: 20px;
}

#div2 {
    display: flex;
    margin-left: 20px;

}

#p21 {
    /* margin-left: -55px; */
    margin-top: -1px;
    font-weight: bold;
    font-size: 20px
}

#price {
    font-weight: bold;
    font-size: 20px
}

#free {
    color: rgb(27, 199, 226);
    margin-left: 20px;
}

img {
    height: 300px;
    width: 350px;
    margin-left: 10px;
}

#div3 {
    display: flex;
    margin-bottom: 0px;
}

#btn1 {
    width: 380px;
    padding: 10px;
    background-color: #F0F1F7;
    /* color: white; */
    font-size: 16px;
    border: 1px solid rgb(205, 201, 201);
    font-weight: bold;
}

#btn2 {
    width: 380px;
    padding: 10px;
    background-color: #414467;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(205, 201, 201);
}

#title {
    margin-left: 20px;
    font-size: 17px;
    color: #2E2C38;
}

#title:hover {
    color: #509bc1;
    cursor: pointer;
}

#soldBy {
    margin-left: 20px;
}

/* -------------sidenav----------------------- */

#toplabel {
    font-size: 20px;
    font-weight: bold;
    color: #55a1c5;
    margin-bottom: -50px;
    cursor: pointer;
}

span {
    font-size: 13px;
    color: #929194;
}

#topcheck {
    margin-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
}

label {
    font-size: 13px;
    cursor: pointer;

}

label:hover {
    color: #509bc1;
}

input {
    margin-left: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;

}

#checkbox {
    margin-bottom: 20px;
    border-top: 1px solid rgb(206, 201, 201);
    border-bottom: 1px solid rgb(226, 221, 221);
    padding: 15px;

}



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Fixed sidenav, full height */
#sidenavv {

    width: 281px;

    position: absolute;

    top: 0;
    left: 0;
    margin-top: 200px;
    overflow-x: hidden;
    padding-top: 20px;
    border: 0.2px solid rgb(199, 196, 196);
}

/* Style the sidenav links and the dropdown button */
#sidenavv a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;

    text-decoration: none;
    font-size: 16px;

    color: #202340;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    line-height: 15px;

}

#sidenavv a {
    font-size: 13px;
    margin-left: 20px;
}


#sidenavv a:hover,
.dropdown-btn:hover {
    color: #509bc1;
}


.main {
    margin-left: 150px;
    font-size: 16px;
    padding: 0px 10px;

}

body {
    margin-top: 200px;
}



.dropdown-container {
    display: none;

    padding-left: 8px;
}


.fa-caret-down {
    float: right;
    padding-right: 8px;
}


@media screen and (max-height: 450px) {
    #sidenavv {
        padding-top: 15px;
    }

    #sidenavv a {
        font-size: 18px;
    }
}


@media only screen and (min-width:421px) and (max-width:780px) {
    #container {

        grid-template-columns: repeat(1, 1fr);

    }

    #sidenavv {
        width: 250px;
    }

    #container>div {
        margin-left: -10px;
    }


}

@media only screen and (min-width:80px) and (max-width:420px) {
    #container {

        grid-template-columns: repeat(1, 1fr);

    }

    #sidenavv {
        width: 150px;
    }

    #container>div {
        margin-left: -170px;
    }
}