@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #f0f1f7;
    padding: 15px 0px 15px 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
#navbar div {
    display: flex;
    align-items: center;
}
#head {
    font-size: 1.3vw;
    padding: 9px 0px;
    text-align: center;
    background-color: #202340;
    color: white;
}
#head a {
    color: white;
}
#up {
    margin-bottom: 0.5vw;
    justify-content: space-between;
}
#up,
#down {
    display: flex;
}
#down {
    justify-content: space-between;
}
#navbar img {
    width: 15vw;
}
#in {
    display: flex;
    align-items: center;
}
#inputdiv {
    background-color: white;
    border: 1px solid black;
    padding-left: 1vw;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 40vw;
    height: 3.0vw;
    display: flex;
    align-items: center;
}
#inputdiv input {
    width: 100%;
    height: 2.5vw;
    font-size: 1.1vw;
    border: none;
    outline: none;
    box-sizing: border-box;
}
#i i {
    font-size: 1.7vw;
}
#i {
    background-color: #202340;
    color: white;
    width: 3vw;
    height: 3.1vw;
    border: 1px solid;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
}
#menu {
    color: #202340;
    display: flex;
    justify-content: center;
    align-items: center;
}
#anchor {
    display: flex;
    gap: 2vw;
}
#anchor a {
    color: #454760;
    text-decoration: none;
    color: black;
    font-size: 0.9vw;
}

#login {
    display: flex;
    gap: 3vw;
}
#login a {
    font-size: 2vw;
}
#login i {
    color: #202340;
}
#menu span {
    color: #202340;
}
#menu span:hover,
#login i:hover,
#anchor a:hover {
    color: #00a8ca;
}
/* ----------for menu button, start-------- */

.sidenav {
    z-index: 3;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f1f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1vw;
}
#slidenav1 {
    /* border: 1px solid; */
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw 0;
}
#slidenav1 img {
    width: 4.5vw;
    height: 4.5vw;
}
.sidenav a {
    /* border: 1px solid; */
    padding: 0.5vw 0.5vw 0.5vw 3vw;
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
    transition: 0.3s;
}
.sidenav h3 {
    margin: 2vw 2vw;
}
.sidenav i {
    margin-right: 1.8vw;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2vw;
    font-size: 3vw;
    margin-left: 5vw;
}
/* ----------for menu button, end-------- */

#product{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 20px;
    margin-top: 10%;
    /* border: 1px solid; */
}
#product .product-left{
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}
/* #product .product-left .productImg-list{
    width: 20%;
    box-sizing: border-box;
} */
/* #product .product-left .productImg-list img{
    width: 100px;
    height: 100px;
} */
#product .product-left .product-preview{
    width: 100%;
    padding: 5px;
    /* border: 1px solid; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;   
}
#product .product-left .product-preview img{
    width: 90%;
    border-radius: 10px;
}
#product .product-right{
    width: 40%;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
#product .product-right .product-name p{
    font-size: 12px;
    margin-bottom: 0px;
}
#product .product-right .product-name p:last-child:hover{
    color: #549eff;
    cursor: pointer;
}
#product .product-right .product-name h1{
    font-size: 22px;
    margin: 0px;
}
#product .product-right .price{
    font-size: 33px;
    font-weight: 400;
    line-height: 0.1;
}
#product .product-right .price span{
    font-size: 12px;
    vertical-align: middle;
}
#product .product-right .price span img{
    width: 12px;
    vertical-align: baseline;
}
#product .product-right .sezzle{
    font-size: 15px;
    margin-top: -15px;
}
#product .product-right .sezzle span{
    font-size: 17px;
    font-weight: 700;
}
#product .product-right .sezzle img{
    width: 80px;
    margin: 0px 5px;
    vertical-align: bottom;
    cursor: pointer;
}
#product .product-right .product-info .free-ship{
    text-align: center;
    width: 100%;
    border-top: 0.5px solid rgb(225, 225, 225);
    border-bottom: 0.5px solid rgb(228, 228, 228);
    padding: 0px 10px 15px 0px;
    line-height: 0.5;
    font-size: 10px;
}
#product .product-right .product-info .free-ship p{
    font-size: 12px;
    font-weight: 600;
}
#product .product-right .product-info .free-ship a{
    color: black;
}
#product .product-right .product-info .crypto{
    line-height: 20px;
    vertical-align: baseline;
    margin: 5px 0px;
    padding: 0px 5px;
    display: flex;
    max-width: 450px;
    background: #f0f1f7;
    box-sizing: border-box;
    line-height: 0.3;
    margin-bottom: 40px;
}
#product .product-right .product-info .crypto img{
    width: 150px;
    margin-right: 5px;
    padding: 0;
    cursor: pointer;
}
#product .product-right .product-info .product-detail p:first-child{
    font-size: 14px;
    font-weight: 600;
    line-height: 0.5;
    margin-bottom: 0px;
}
#product .product-right .product-info .product-detail p:nth-child(2){
    font-size: 12px;
    line-height: 1;
}
#product .product-right .product-info .product-detail a{
    font-size: 14px;
    color: black;
}
#product .product-right .product-info .addtoCart{
    border: 0.5px solid rgb(210, 210, 210);
    padding: 15px;
    box-sizing: border-box;
    height: fit-content;
    margin-bottom: 20px;
    margin-top: 20px;
}
#qty{
    height: 100%;
    height: 30px;
}
#product .product-right .product-info .addtoCart .cart-btn{
    width: 50%;
    padding: 8px 12px;
    background-color: #414467;
    border: 1px solid #414467;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1em;
    min-height: 40px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}
#product .product-right .product-info .addtoCart .cart-btn:hover{
    background-color: #202340;
    color: white;
}
#product .product-right .product-info .zip-code input{
    width: 27%;
    margin-right: 10px;
    height: 40px;
    border: 1px solid #202340;
    border-radius: 2px;
    padding: 0 0.5em;
    margin: 5px 25px 0 0;
    font-size: .875rem;
    color: #202340;
}
#product .product-right .product-info .zip-code .ship-btn{
    padding: 13px 10px 10px;
    margin: 5px 0;
    font-size: .75rem;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #414467;
    font-weight: 700;
    line-height: 1.1em;
    min-height: 40px;
    cursor: pointer;
}
#product .product-right .product-info .zip-code .ship-btn:hover{
    background-color: #202340;
    color: white;
}
#product .product-right .product-info .product-discription{
    display: inline-block;
    text-align: justify;
    font-size: .875rem;
    font-weight: 700;
    padding-right: 10px;
    margin-bottom: 10px;
}
#product .product-right .product-info .product-discription p{
    margin-bottom: 0px;
    text-align: justify;
}
#product .product-right .product-info .product-discription a{
    color: #202340;
    cursor: pointer;
}
#product .product-right .product-info .fb-likes p{
    font-size: 11px;
    color: #1c1e21;
}
#product .product-right .product-info .fb-likes span{
    border-radius: 3px;
    font-size: 12px;
    height: 20px;
    padding: 4px 6px;
    background: #1877f2;
    border: 0;
    vertical-align: middle;
    font-weight: 600;
    color: #fff;
    margin-right: 5px;
}
#product .product-right .product-info .fb-likes span img{
    vertical-align: middle;
    width: 16px;
    margin-right: 5px;
}
#details{
    margin: 30px auto;
    margin-top: 2%;
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
    color: #202340;
    /* border: 1px solid; */
}
#details h2{
    font-size: 1.75rem;
    text-align: center;
    border-bottom: 1px solid #dadbe6;
    padding-bottom: 10px;
    margin: 0.625rem 0;
    font-weight: 400;
}
#details p{
    font-size: 14px;
    padding-left: 10px;
    width: 50%;
    text-align: justify;
    line-height: 1.6;
    margin: auto;
}

/* -----------footer start---------- */

.connect {
    background-color: #545871;
    color: white;
}

#connect1,
#conn,
#connect2,
#ac,
#images,
#social,
#connect2>div:nth-child(1) {
    display: flex;
}

#connect1 {
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font: 13px;
    border-bottom: 0.5px solid rgba(142, 142, 142, 0.425);;
}

#conn {
    gap: 40px;
    align-items: center;
}

#connect2 {
    justify-content: space-between;
}

#ac {
    gap: 10px;
    padding: 10px 15px;
    align-items: center;
}

#ac a,
#a {
    color: white;
    font-weight: 400;
    font-size: 14px;
}

#info {
    font-size: 13px;
    line-height: 12px;
    padding: 7px 0 2px 10px;
    color: #202340;
    background-color: #f0f1f7;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.ancor>a {
    color: black;
}

#images {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    background-color: #f0f1f7;
}

#images img {
    height: 80px;
    width: 80px;
}

#image {
    margin: auto;
    width: 10%;
}

#image>div>a>img {
    height: 100px;
    width: 120px;
}

#social {
    align-items: center;
}

#social i {
    width: 45px;
    color: white;
    height: 45px;
    justify-content: center;
    align-items: center;
}

#connect2>div:nth-child(1) {
    justify-content: space-between;
}

#footer {
    background-color: #f0f1f7;
    position: absolute;
    width: 100%;
    left: 0;
}

/* -----------footer end---------- */


/* ----------media querries--------- */
@media only screen and (min-width:421px) and (max-width:1080px) {
    #product{
        max-width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        gap: 20px;
        margin-bottom: -10%;
    }
    #product .product-left{
        width: 100%;
        justify-content: center;
    }
    #product .product-left .product-preview img{
        width: 50%;
    }
    #product .product-right{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #product .product-right .product-info .crypto{
        width: 100%;
        /* text-align: center; */
        margin: auto;
    }
    #product .product-right .product-info .product-discription{
        width: 50%;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    #product .product-right .product-info .product-discription p{
        /* width: 50%; */
        text-align: justify;
        margin-bottom: 10px;
    }
}