@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

#body{
    margin-top: 70px;
}
#line1{
    display: flex;
    justify-content: space-between;
}
#line1a{
    font-size: 30px;
    color: #204320;
    font-weight: bolder;
    margin-left: 50px;
}
#line1b{
    font-size: 22px;
    margin-right: 10px;
}
#line2{
    margin-left: 50px;
}
#line2 button{
    font-size: 20px;
    padding:8px 10px 8px 10px;
    background-color: #F0F1F7;
    border-radius: 5px;
    /* gap: 25px; */
    margin-right: 10px;
}
#line2 #shipping{
    background-color: black;
    color:white;
}
/* #shipping{
    background-color:black;
    color:white;
} */
hr{
    color:#dadbe6;
    margin:10px;
    margin-top: 25px;
    /* width:90%; */
}
/* cart  */


#cart-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #f0f1f7;
    border-top: 2px solid #bfc1cd;
    position: absolute;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
}
#cart-footer p{
    font-size: 12px;
}
#cart-footer a{
    text-decoration: none;
    color: inherit;
}
#cart-footer div:last-child{
    text-align: end;
}
#cart-footer img{
    width: 25%;
}
#cart-footer p:last-child:hover{
    color: #00a8ca;
    cursor: pointer;
}
h1{
    padding-left: 40px;
    margin-bottom: 0px;
    margin-top: 12%;
}
#cart{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    margin-top: 0px;
}
#cart #cart-left{
    width: 60%; 
    margin: 20px 0;
    padding: 0 20px;
    /* border: 1px solid; */
}
#cart-left h2{
    border-bottom: 0.5px solid rgb(110, 110, 110);
    padding-bottom: 15px;
}
#cart-left>p{
    font-size: 12px;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: #f0f1f7;
}
#cart-left .fa-truck{
    font-size: 20px;
    margin-right: 5px;
}
#cart-left .cart-product-img{
    width: 20%;
}
#cart-left .cart-product-img img{
    width: 100%;
}
#cart .cart-product{
    display: flex;
    padding-bottom: 10px;
    gap: 10px;
}
#cart .cart-product-info p{
    font-size: 12px;
    line-height: 0.2;
    color: rgb(154, 154, 154);
}
#cart .cart-product-info p img{
    width: 12px;
}
#cart .cart-product-info .price{
    font-size: 22px;
    color: black;
}
#cart .cart-product-info input{
    width: 35px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    margin-right: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#cart .cart-product-info a{
    color: black;
    font-size: 14px;
}
#cart .cart-btns button{
    color: #202340;
    text-decoration: none;
    border: 1px solid #414467;
    font-size: 13px;
    font-weight: 500;
    height: 30px;
    padding: 5px 8px;
    line-height: normal;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 16px;
    background-color: transparent;
    border-radius: 4px;
}
#cart .cart-btns button:hover{
    background-color: #202340;
    color: white;
}
#cart .total{
    width: 100%;
    display: flex;
    gap: 90px;
    justify-content: flex-end;
    font-size: 17px;
    border-top: 0.5px solid rgb(171, 171, 171);
}
#cart .total .total-price{
    font-weight: 600;
}
#cart-right{
    width: 30%;
    /* background-color: #f0f1f7; */
    padding: 0;
    display: grid;
    justify-content: flex-end;
    padding-right: 20px;
}
#cart-right .total{
    width: 100%;
    display: flex;
    gap: 250px;
    justify-content: flex-end;
    font-size: 17px;
    border-top: 0.5px solid rgb(171, 171, 171);
}
#cart-right .sezzle{
    font-size: 15px;
    margin-top: -15px;
    text-align: end;
}
#cart-right .sezzle span{
    font-size: 17px;
    font-weight: 700;
}
#cart-right .sezzle img{
    width: 80px;
    margin: 0px 5px;
    vertical-align: bottom;
}
#cart-right>a{
    font-size: 13px;
    color: #202340;
    text-align: end;
    margin-bottom: 20px;
}
#cart-right>a:hover{
    color: rgb(0, 179, 255);
}
#cart-right .zipcode{
    text-align: end;
    margin: 20px 0px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    padding: 2px;
}
#cart-right .zipcode input{
    width: 7em;
    margin: 0 10px 5px 0;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #202340;
    border: 1px solid #202340;
    border-radius: 2px;
    padding: 0.5em;
    box-sizing: border-box;
}
#cart-right button{
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1em;
    min-height: 40px;
    padding: 0.65em;
    color: #202340;
    background-color: #fff;
    border: 1px solid #414467;
}
#cart .proceed-to-checkout{
    text-align: end;
}
#cart .proceed-to-checkout button{
    background-color: #414467;
    border: 1px solid #414467;
    color: white;
}
#cart button:hover{
    background-color: #202340;
    color: white;
}
#cart .check-out-options{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,160px);
    justify-content: end;
    gap: 20px;
    box-sizing: border-box;
    padding-bottom: 50px;
}
#cart .check-out-options img{
    width: 150px;
}

/* shipping */
#line4a{
    background-color: white;
}
#box4{
    background-color:#f0f1f7;;
    margin-top: 2px;
    font-size: 14px;

}
#box4 :nth-child(1){
    font-weight: 700;
}


/* shipping box right */

#rightl1{
    margin-top: 20px;
    font-weight: 600;
    color: #545871;
}
#right2{
    margin-top: 5px;
    /* margin-bottom: 4px; */
}
#right207{
    margin-top: 5px;
    /* margin-bottom: 4px; */
}

#right3,#right2a,#right201,#right204{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    margin-top: -20px;

}
#right2aa,#right2ab,#right202,#right203,#right205,#right206{
    font-size: 16px;
    color: #202340;  
}
#right3a,#right3b{
    font-size: 16px;
    font-weight: 700;
    color: #202340;
    margin-bottom: 5px;
}
#right4{
    display: flex;
    justify-content: space-between;
    /* margin-top: -10px; */
    padding-right: 5px;
}
#right4a,#right4b{
    font-size: 14px;
    /* font-weight: 700; */
    color: #202340;
}
#right5{
    background-color: teal;
    margin-top: -10px;
    height: 3px;
}
#right6{
    display: flex;
   
   
}
#right60{
    background-color: #F0F1F7;
    /* padding-top: 3px; */
    padding-left:5px;
}
#right6c{
margin-top: -15px;
/* line-height: 18px; */
/* padding-top:-4px; */
}
#right6d{
    margin-top: -15px;
    padding-top: -15px;
}

#right6b{
    font-size: 16px;
    font-weight: 700;
    color: #202340;
    margin-left: 4px;
    margin-top: -7px;
}
#right6e{
    font-size: 12px;
    margin-bottom: 5px;
}
#right7{
    display: flex;
    justify-content: space-between;
    padding:7px;
}
#right7a{
    color:#545871
}
#right7b{
    padding:5px 20px;
    border-radius: 2px;
    color: white;
    background-color: #202340;
    font-weight: 700px; 
}
#right8 a{
    color:#414467
}
#right8{
    margin-left: 5px;
    /* width: 90%; */
    background-color: #F0F1f7;
    color:#202340;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
@media only screen and (min-width:80px) and (max-width:780px){
    #cart{
        display: grid;
        grid-template-columns: repeat(1,100);
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 20px;
        gap: 20px;
        margin-top: 0px;
    }
    #cart-right{
        width: 90%;
        /* background-color: #f0f1f7; */
        padding: 0;
        display: grid;
        justify-content: center;
        /* padding-right: 20px; */
        margin-top: 30px;
    }
}

