* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #f0f1f7;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f0f1f7;
    padding: 15px 0px 15px 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#navbar div {
    display: flex;
    align-items: center;
}

#head {
    font-size: 1.3vw;
    padding: 9px 0px;
    text-align: center;
    background-color: #202340;
    color: white;
}

#head a {
    color: white;
}

#up {
    margin-bottom: 0.5vw;
    gap: 11vw;

}

#up,
#down {
    display: flex;
}


#down {
    gap: 6.5vw;
}

#navbar img {
    width: 15vw;
}

#in {
    display: flex;
    align-items: center;
}

#inputdiv {
    background-color: white;
    border: 1px solid black;
    padding-left: 1vw;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 45vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
}

#inputdiv input {
    width: 100%;
    height: 2.5vw;
    font-size: 1.3vw;
    border: none;
    outline: none;
    box-sizing: border-box;
}

#i i {
    font-size: 1.7vw;
}

#i {
    background-color: #202340;
    color: white;
    width: 4vw;
    height: 3.63vw;
    border: 1px solid;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#anchor {
    display: flex;
    gap: 2vw;
}

#anchor a {
    text-decoration: none;
    color: #454760;
    font-size: 1.2vw;
}



#login {
    display: flex;
    gap: 5vw;

}

#login a {
    font-size: 2vw;
}

#login i {
    color: #202340;
}

#menu span {
    color: #202340;
}

#menu span:hover,
#login i:hover,
#anchor a:hover {
    color: #00a8ca;
}

/* ----------navbar end------------ */

#foot {
    color: #202340;
    font-size: 1vw;
    background-color: #f0f1f7;
    margin-top: 3px;
    padding: 0.5vw 1vw;
    display: flex;
    justify-content: space-between;
}

#foot p,
#foot b,
#foot a {
    color: #202340;
}

#foot img {
    width: 1.2vw;
    height: 1.2vw;
}



#award {
    height: 6vw;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

#award img {
    width: 3vw;
    height: 2vw;
}

#award p {
    color: #545871;
    font-size: 2.5vw;
}

#award>div a {
    text-decoration: none;
    color: #202340;
}

#award>div a:hover,
#award>div:hover {
    background-color: #202340;
    color: white;
}

#award>div {
    padding: 1px 4px;
    display: flex;
    border: 1.8px solid #202340;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
    height: 4vw;
}

#add {
    background-color: white;
    padding: 2vw 0;
}

#add img {
    width: 100%;
    height: 30vw;
}

#add1 {
    margin-top: 0.2vw;
    padding: 1.3vw;
    display: grid;
    gap: 1.5vw;
    grid-template-columns: repeat(4, 1fr);
}

#add1>div {
    padding: 1.5vw 1.5vw 0.8vw 1.5vw;
    text-align: center;
    background-color: white;
}

#add1 p {
    margin-bottom: 2vw;
    font-size: 20px;
}

#add1 img {
    width: 100%;
}

#third {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

#third>div {
    padding: 1vw;
    background-color: #f0f1f7;
}

#third img {
    width: 15vw;
}

#add1 button {
    width: 100%;
    padding: 8px 0px;
    border-radius: 40px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #414467;
    border: none;
}

#add1 button>a {
    color: white;
    text-decoration: none;
}

#one {
    background-color: white;
    display: flex;
    padding: 1.5vw 1vw 0px 0px;
}

#oleft {
    width: 30%;
    padding: 7vw 1.4vw 0px 0px;
}

#oleft img {
    width: 100%;
    height: 35vw;
}

#oright {
    width: 70%;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(4, 1fr);
}

#oright div {
    text-align: center;
}

#oright div img {
    width: 100%;
    height: 17vw;
}

#oright h4 img,
#oright h6 img {
    height: 1.4vw;
    width: 1.4vw;
    margin-top: 1vw;
}

#oright h6 {
    line-height: 1vw;
    text-decoration: line-through;
}

#s {
    background-color: white;
    text-align: center;
    padding: 1vw 0px;
}

#s img {
    width: 12vw;
    height: 12vw;
}

#hot {
    text-align: center;
    background-color: white;
    padding: 1.5vw 1vw;
    box-sizing: border-box;
}

/* ---------main-carousel start------- */
.main-carousel {
    width: 97%;
    height: 28vw;
    margin: auto;
}

.cell {
    width: 22.5vw;
    height: 28vw;
    padding: 0 1.4vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.cell img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

/* ---------main-carousel end------- */


#add2,
#add4 {
    width: 97%;
    background-color: white;
    margin: 2.5vw auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6vw;
    text-align: center;
    padding: 1vw 0.5vw 3vw 0.5vw;
}

#add2 img,
#add4 img {
    width: 100%;

}

#layer {
    /* border: 1px solid; */
    width: 97%;
    margin: auto;
    display: flex;
    background-color: white;
    padding: 2vw 1vw;
    box-sizing: border-box;
}

#layer .main-carousel {
    /* border: 1px solid; */
    margin-top: 0vw;
}

#layer .main-carousel .cell {
    width: 27.8vw;
    height: 31vw;
    padding: 0.1vw 1vw;
}

#layer .cell img {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

#layer1 img {
    margin-right: 0.5vw;
    width: 35vw;
    height: 31.5vw;
}

#spring,
#feature {
    width: 97%;
    margin: auto;
    text-align: center;
    margin-top: 2.5vw;
    padding: 1.5vw 0;
    background-color: white;
}

#spring2,
#feature2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#spring2 img,
#feature2 img {
    margin-top: 3vw;
    border: 8px solid #cbcdd4;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
}

#add3 {
    width: 97%;
    margin: auto;
    display: flex;
    background-color: white;
    margin-top: 3vw;
    padding: 1vw 0px 2vw 0px;
    text-align: center;
    justify-content: space-around;
}

#add3 img {
    width: 100%;
}

#best,
#stay {
    width: 97%;
    margin: auto;
    margin-top: 3vw;
    background-color: white;
}

#best1,
#stay1 {
    text-align: center;
    padding: 1vw;
}

#best2,
#stay2 {
    display: flex;
}

#best2 .main-carousel,
#stay2 .main-carousel {
    width: 65%;
    height: 450px;
    box-sizing: border-box;
}

#best2 .main-carousel .cell,
#stay2 .main-carousel .cell {
    width: 27vw;
    height: 34vw;
    box-sizing: border-box;
}

#best22,
#stay22 {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#best22 img,
#stay22 img {
    width: 31vw;
    height: 27vw;
}

#sell,
#clean,
#brand {
    width: 97%;
    margin: auto;
    margin-top: 3vw;
    background-color: white;
}

#sell1,
#clean1,
#brand1 {
    padding: 1vw 0;
    text-align: center;
}

#sell2,
#brand2 {
    display: grid;
    gap: 1vw;
    padding: 0px 0.8vw 1.5vw 0.8vw;
    grid-template-columns: repeat(5, 1fr);
}

#brand2 div {
    text-align: center;
    line-height: 5vw;
}

#clean2 {
    display: grid;
    gap: 0.3vw;
    padding: 0px 0.8vw 1.5vw 0.8vw;
    grid-template-columns: repeat(4, 1fr);
}

#sell2>div img,
#clean2>div img,
#brand2>div img {
    width: 100%;
}

/* ----------for menu button, start-------- */

.sidenav {
    z-index: 3;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f1f7;
    /* overflow-x: hidden; */
    overflow: scroll;
    transition: 0.5s;
    padding-top: 1vw;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 50px;
    margin: 10px 0;
}

::-webkit-scrollbar-thumb {
    background-color: #51556c;
    border-radius: 20px;
}

#slidenav1 {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw 0;

}

#slidenav1 img {
    width: 4.5vw;
    height: 4.5vw;
}

.sidenav a {
    /* border: 1px solid; */
    padding: 0.5vw 0.5vw 0.5vw 3vw;
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: block;
    transition: 0.3s;
}

.sidenav h3 {
    margin: 2vw 2vw;
}

.sidenav i {
    margin-right: 1.8vw;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2vw;
    font-size: 3vw;
    margin-left: 5vw;
}

/* ----------for menu button, end-------- */

/* -----------footer start---------- */
.connect {
    background-color: #545871;
    color: white;
}

#connect1,
#conn,
#connect2,
#ac,
#images,
#social,
#connect2>div:nth-child(1) {
    display: flex;

}

#connect1 {
    height: 5vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font: 1vw;
}

#conn {
    gap: 40px;
    align-items: center;
}

#connect2 {
    justify-content: space-between;
}

#ac {
    gap: 10px;
    padding: 0 0 0 15px;
    align-items: center;
}

#ac a,
#a {
    color: white;
}

#info {
    font-size: 13px;
    line-height: 12px;
    padding: 7px 0 2px 10px;
    color: #202340;
    background-color: #f0f1f7;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.ancor>a {
    color: black;
}

#images {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    background-color: #f0f1f7;
}

#images img {
    height: 80px;
    width: 80px;
}

#image {
    margin: auto;
    width: 10%;
}

#image>div>a>img {
    height: 100px;
    width: 120px;
}

#social {
    align-items: center;
}

#social i {
    width: 45px;
    color: white;
    height: 45px;
    justify-content: center;
    align-items: center;
}

#connect2>div:nth-child(1) {
    justify-content: space-between;
}

#footer {
    background-color: #f0f1f7;
}

/* -----------footer end---------- */


@media only screen and (min-width:421px) and (max-width:780px) {
    #add1 {
        grid-template-columns: repeat(2, 1fr);
    }

    #third {
        gap: 4vw;
    }

    #one {
        flex-direction: column;
    }

    #oleft {
        width: 60%;
        margin: 2vw auto;
        padding: 0;
    }

    #oleft img {
        height: 70vw;
    }

    #oright {
        width: 100%;
    }

    #hot {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .main-carousel {
        width: 90%;
        margin-bottom: 10px;

    }

    .cell {
        width: 40%;
    }

    #add2,
    #add4 {
        border: 1px solid red;
        width: 90%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1vw;
    }

    #layer {
        flex-direction: column;
    }

    #layer1 {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
    }

    #layer .main-carousel .cell {
        width: 40%;
        border: 1px solid red;
    }

    #spring2,
    #feature2 {
        grid-template-columns: repeat(3, 1fr);
    }

    #add3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #best,
    #stay {
        display: none;
    }

    #sell2,
    #brand2,
    #clean2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5vw;
    }

    #connect1 {
        flex-direction: column;
        gap: 10px;
    }

    #conn {
        margin: 5px 0 0 0;
    }


    #connect2 {
        display: none;
    }

    #images {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

@media only screen and (min-width:80px) and (max-width:420px) {
    #add1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 4vw;
    }

    #one {
        flex-direction: column;
    }

    #oleft {
        width: 95%;
        margin: auto;
    }

    #oleft img {
        width: 100%;
        height: 380px;
    }

    #oright {
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }

    #oright div img {
        height: 400px;
        margin-top: 20px;
    }

    #oright h4 img,
    #oright h6 img {
        display: none;
    }

    .main-carousel {
        display: none;
    }

    #add2,
    #add4 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5vw;
    }

    #layer1,
    #best22,
    #stay22 {
        width: 90%;
        margin: auto;
    }

    #layer1 img,
    #best22 img,
    #stay22 img {
        width: 100%;
        height: 300px;
    }

    #spring2,
    #feature2 {
        grid-template-columns: repeat(3, 1fr);
    }

    #add3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    #sell2,
    #brand2,
    #clean2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    #connect1 a {
        display: none;
    }

    #conn {
        display: flex;
        flex-direction: column;
    }

    #ac {
        margin: 50px 0;
        flex-direction: column;
    }

    #images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #image {
        width: auto;
        text-align: center;
    }
}

/* < !-- ----------for back to top button,start-------- --> */

#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    background-color: #545871;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    padding: 13px 14px;
}

#myBtn:hover {
    background-color: #414467;
}

/* < !-- ----------for back to top button, end-------- --> */